* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 10px;
    background: rgb(39, 39, 46);
    color: white;
}

.container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-items: center;
    padding: 2%;
}

.targetas {
    display: flex;
    background-color: rgba(63, 63, 66, 0.416);
    border-radius: 5px;
}

.targetas img {
    border-radius: 5px 0px 0px 5px;
    width: 30vw;
    height: 100%;
}

.detalleTarge {
    display: block;
    align-items: flex-start;
}

.detalleTarge section {
    padding: 4px 10px;
}

.detalleTarge{
    margin: auto 0;
}

p {
    color: gray;
}

.location {
    color: grey;
}

.location h3 {
    color: rgba(227, 227, 227, 0.83);
}

@media(min-width: 720px){
    .targetas {
        width: 25rem;
        height: 8rem;
        margin: 2%;
    }

    .targetas img {
        width: 20vw;
    }

    .detalleTarge{
        margin: auto 0;
    }
}

@media (min-width: 1024px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }

    .targetas {
        width: 25rem;
        height: 8rem;
        margin: 2%;
    }

    .targetas img {
        width: 15vw;
    }

    .detalleTarge{
        margin: auto 0;
    }
}

